@font-face {
  font-family: SpaceTitle;
  src: url('./fonts/space\ age.ttf') format('truetype');
}

footer p, a {
  color: yellow;
  font-family: SpaceTitle , sans-serif;
  font-size: 1.2em;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.6);
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}
